[submodule "easyaudio/models/byola"]
	path = easyaudio/models/byola
	url = https://github.com/nttcslab/byol-a.git
[submodule "easyaudio/models/encodecmae"]
	path = easyaudio/models/encodecmae
	url = https://github.com/habla-liaa/encodecmae.git
